/* Estilos para el cuerpo de la página */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado de la página */
  header {
    background-color: #f7f7f7;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 40px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Estilos para el menú de navegación */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para la sección de información */
  #informacion {
    background-color: white;
    padding: 20px;
  }
  
  #informacion h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

    #ofertas{
  
      background-color: white;
      padding: 20px;
    
  }

  #precios{
      background-color: white;
      padding: 20px;
  }
  

  #promocion {
    background-color: white;
    padding: 20px;
    
  }

  #promocion h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #promocion p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Estilos para la sección de galería de imágenes */
  #galeria {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  #galeria img {
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  #contacto {
    background-color: white;
    padding: 20px;
  }
  
  #contacto h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #contacto p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  
  #registro label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
.logoimg{
  width: 225px;
}  

.logo{
  background-color: white;
}

.imagen-portada {
  background-image: url('../img/monja.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
  
}

main{
  padding-left:40px;
  padding-right: 40px;
  background-color: #f7f7f7;

}

.map-container {
  position: relative;
  padding-top: 50%; 
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 100%;
  height: auto;
  margin: 10px;
}

/* Estilos para hacer la galería responsive */
@media screen and (min-width: 768px) {
  .gallery img {
    width: 30%;
  }
}